#clockContainer {
    position: relative;
    margin: auto;
    height: 40vmin;

    width: 40vmin;

    background: url(clock1.png) no-repeat center center;

    background-size: contain;

}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.5vmin;

    height: 10vmin;

    top: 27%;

    left: 50%;

    transform: translateX(-50%);

}

#minute {
    width: 1vmin;

    height: 15vmin;

    top: 17%;

    left: 50%;

    transform: translateX(-50%);

}

#second {
    width: 0.7vmin;

    height: 18vmin;

    top: 8%;

    left: 50%;
    transform: translateX(-50%);

}