#clockContainer {
    position: relative;
    margin: auto;

    height: 40vw;
    width: 40vw;
    background: url(clock1.png) no-repeat;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {

    width: 1.7%;
    height: 15%;
    top: 12%;
    left: 25%;
    opacity: 1;


}


#minute {
    width: 1.2%;
    height: 20%;
    top: 7%;
    left: 26%;
    opacity: 1;

}

#second {
    width: 1%;
    height: 23%;
    top: 4%;
    left: 26%;
    opacity: 1;


}